<h2 mat-dialog-title>Editar Comentario</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Tu comentario</mat-label>
      <textarea matInput formControlName="content" rows="5"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
